<h1>Editing school news</h1>

<%= render "form", school_news: @school_news %>

<br>

<div>
  <%= link_to "Show this school news", @school_news %> |
  <%= link_to "Back to school news", school_news_index_path %>
</div>
