<style>
    .archive-container{
    max-width: 80%;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}


.archive-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}
.archive-sub-container{
    width: 90%;
    padding: 0px 40px;
 border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.archive-subtitle{
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
}
.archive-author{
    font-size: 18px;
}
.archive-author-item{
    color: mediumpurple;
}
</style>

<div class="archive-container">
    <h3 class="archive-title">
        Sections
    </h3>

    <div class="archive-sub-container">
        <h4 class="archive-subtitle">
            NAME
        </h4>
        <p class="archive-author">Author: <span class="archive-author-item">Kovbas Stepan</span>

            </p>
    </div>
</div>