<%# <h1>ClassRooms#index</h1>
<p>Find me in app/views/class_rooms/index.html.erb</p> %>


<div class="classes-container">
    <div class="class-item">
        <h4 class="class-title">11</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">10</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">9</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">8</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">7</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">6</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">5</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">4</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">3</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">2</h4>
    </div>
    <div class="class-item">
        <h4 class="class-title">1</h4>
    </div>
</div>
