
<main>
    <div id="logo_image"></div>

    <div id="logo_text">
        <h1 style="font-size:50px ; padding-bottom: 20px">Делівський ліцей</h1>
        <h3 style="font-size:30px">Олешанської сільської ради ОТГ Івано-Франківської області</h3>
        <p style="font-size:20px">c.Делева</p>
    </div>

    <div class="main">
        <div class="container">
            <h1>Вітаємо Вас на сайті Делівського ліцею!!!</h1>
            <p>Результат навчання у нашому ліцеї – свідоме визначення нашими вихованцями свого шляху в самостійному житті, і, головне, - здатність реалізувати зроблений вибір на основі набутих знань, умінь та навичок.</p>
            <p>Мета педагогів– сприяти самовизначенню та самореалізації кожного з учнів. На це спрямовано зусилля учнів, батьків, вчителів, представників громадськості.</p>
            <h2>Визначаючи подальший розвиток ліцею, ми керуємось такими настановами:</h2>
            <ul>
                <li>Формування в дитині потягу до знань, потреби в освіті і вихованості як найважливіших засобах забезпечення повноцінного життя людини.</li>
                <li>Створення системи позакласної роботи, що сприяє формуванню всебічно розвиненої особистості, здатної на ініціативне самовизначення.</li>
                <li>Створення умов для самовизначення і самореалізації учнів у різних видах творчої діяльності з метою становлення повноцінної особистості.</li>
                <li>Професійна спрямованість педагогів на творчу підтримку у потреби учнів здобути необхідний рівень знань; використання сучасних технологій навчання.</li>
                <li>Об'єднання зусиль педколективу, батьків та учнів для створення належних організаційно-педагогічних, морально-психологічних, матеріально-технічних, санітарно-гігієнічних та естетичних умов.</li>
            </ul>
            <p>У ліцеї навчається 359 учнів, працює 41 учитель.</p>
            <p>Делівський ліцей продовжує кращі традиції класичної освіти, одночасно використовуючи інноваційні підходи та технології до побудови сучасного змісту навчання та виховання.</p>
            <h2>У ліцеї учні мають можливість:</h2>
            <ul>
                <li>Поглиблено вивчати інформаційні технології, іноземні мови, математику, суспільні та природничі науки;</li>
                <li>Отримати основи економічних знань;</li>
                <li>Займатися науково-дослідницькою роботою;</li>
                <li>Реалізувати свій творчий потенціал, беручи участь у позакласній діяльності – олімпіади, предметні тижні, гуртки.</li>
            </ul>
        </div>
    </div>
    
    
</main>

<%= render 'layouts/footer' %>
