.administrator-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  width: 100%;
  min-height: 200px;
  max-height: 550px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.administrator-photo {
  width: 90%;
  margin: auto;
  object-fit: contain;
  max-height: 200px;
}

.administrator-name {
  text-align: center;
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  letter-spacing: 0.05em;
}

.administrator-position {
  text-align: center;
  color: #9ca3af; /* Gray 400 */
  font-style: italic;
}

.show-button,
.edit-button,
.delete-button,
.new-button {
  padding: 10px 10px;
  background-color: #6d28d9; /* Purple 600 */
  color: white;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.15s;
  text-decoration: none;
  max-width: 200px;
  width: 100%;
  margin: auto;
}

.show-button:hover {
  background-color: #a78bfa; /* Purple 400 */
}

/* Ви можете додати класи для кнопок Редагувати та Видалити за потребою */

.container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}