    <footer>     
      <ul>
        <li>      
          <h1 style="text-align: center;">Делівський <br> ліцей</h1>
        </li>
        <li><a href="#">Activities</a></li>
        <li><a href="#">Допомога</a></li>
        <li><a href="#">Admin</a></li>
      </ul>      
    </footer>